@use "../variables";

@mixin styles {
  #{variables.$select-command-chain-toolbar-component} {
    &:has(> button[title^="vvh-insert-linebreak"]) {
      flex: 1 1 100%;
    }
  }

  @include variables.mixin-highlight-toolbar-component-in-toolbar-editor(
    '#{variables.$select-command-chain-toolbar-component}:has(> button[title*="vvh-toggle-on"])'
  );

  #browser:not(.toolbar-edit-mode)
    #{variables.$select-command-chain-toolbar-component} {
    &:has(> button[title^="vvh-insert-linebreak"]) {
      height: 0;

      > button {
        display: none;
      }
    }

    &:has(> button[title*="vvh-toggle-on"]) {
      display: none;
    }
  }

  @at-root :root:not(:has(#{variables.$select-browser-with-valid-settings})) {
    #browser:not(.toolbar-edit-mode)
      #{variables.$select-command-chain-toolbar-component} {
      &:has(> button[title^="vvh-insert-linebreak"]) {
        display: none;
      }

      &:has(> button[title*="vvh-toggle-off"]) {
        display: none;
      }
    }

    @include variables.mixin-highlight-toolbar-component-in-toolbar-editor(
      '#{variables.$select-command-chain-toolbar-component}:has(> button[title*="vvh-toggle-off"])'
    );
  }

  #browser.toolbar-edit-mode
    #{variables.$select-command-chain-toolbar-component} {
    &:has(> button[title^="vvh-insert-linebreak"]) {
      height: 26px;
      opacity: 0.5;

      > button {
        height: 26px;
      }
    }
  }

  @at-root {
    @include variables.mixin-highlight-toolbar-component-in-toolbar-editor(
      '#{variables.$select-command-chain-toolbar-component}:has(> button[title^="vvh-insert-linebreak"])'
    );
  }
}
