@use "../variables";

@mixin styles {
  .UrlBar-SearchField {
    margin: calc(
        calc(
            variables.$value-of-address-bar-height -
              variables.$value-of-address-field-height
          ) / 2
      )
      variables.$value-of-window-edge-distance;
    flex: 1 1 100%;

    // TODO: Remove this when Vivaldi 5.8 reaches stable.
    // This fixes some elements in the address bar stacking above the address field and search field dropdown options.
    z-index: 5;
    &:has(.OmniDropdown) {
      z-index: 6;
    }
  }
}

@mixin extend-on-focus {
  @include variables.mixin-extend-on-focus(
    ".UrlBar-SearchField",
    ".searchfield-input"
  );
}
