@use "hard-coded-property-values" as value-of;
@use "selectors" as select;

// This file collects reused property values to maintain consistency.

@mixin declare {
  #browser {
    &:has(#{select.$panel}.switcher) {
      --vvh-input-field-extend-on-focus-margin-offset: 0px;
    }
    &:has(#{select.$panel}.switcher #panel_switch) {
      --vvh-input-field-extend-on-focus-margin-offset: #{value-of.$panel-toggle-width};
    }    
    --vvh-input-field-extend-on-focus-margin-offset: #{value-of.$panel-width};
    &:has(#panel_switch) {
      --vvh-input-field-extend-on-focus-margin-offset: calc(#{value-of.$panel-toggle-width} + #{value-of.$panel-width});
    }

    &.tabs-left:has(#{select.$panel}.left),
    &.tabs-right:has(#{select.$panel}.right),
    &.tabs-off {
      --vvh-input-field-extend-on-focus-margin: calc(
        max(100% - var(--vvh-extend-on-focus-width), 100% - 100vw) + #{value-of.$window-edge-distance}
      ) !important;
    }

    &.tabs-left:has(#{select.$panel}.right),
    &.tabs-right:has(#{select.$panel}.left) {
      --vvh-input-field-extend-on-focus-margin: calc(
        max(100% - var(--vvh-extend-on-focus-width), 100% - 100vw) +
          calc(#{value-of.$window-edge-distance} + var(--vvh-input-field-extend-on-focus-margin-offset))
      ) !important;
    }
  }
}
