// This file contains properties of UI elements whose values are not accessible via custom properties.
// It migitates the issue of magic numbers by granting them semantic meaning-

$window-edge-distance: 9px; // matches perceived horizontal distance between Vivaldi icon and window edge inside the title bar

$title-bar-min-height: calc(25px / var(--uiZoomLevel));

$address-bar-height: 34px; 
$address-field-height: 24px;
$extension-button-width: 34px;
$extension-button-icon-width: 16px;

$panel-width: 35px;
$panel-toggle-width: 10px;

$webview-container-has-mosaic-padding: 2px;
$mosaic-tile-margin: 4px;