// This file contains selectors that can be reused and/or are in need of semantic meaning.

// Settings check intended to act as a failsafe
$browser-with-valid-settings: "#browser:is(.tabs-left, .tabs-right):is(.address-top, .address-bottom)";

// Grid items
$title-bar: "#titlebar";
$title-bar-menu-position-horizontal: "#header .topmenu";
$address-bar: "#main .toolbar-mainbar";
$bookmark-bar: "#main .bookmark-bar";
$panel: "#panels-container";
$tab-bar: "#main .tabbar-wrapper";
$footer-has-status-bar: "footer:has(.toolbar-statusbar)"; // This cannot be nested within another :has()
$webpage: "#webview-container";

// Other toolbars not listed above
$status-bar: "footer .toolbar-statusbar";

// Toolbar components
$command-chain-toolbar-component: ".button-toolbar.toolbar-command";
$toolbar-editor-modal: "#modal-bg.toolbar-editor";
$flexible-space: ".toolbar-spacer-flexible";
$address-field-text-input: "#urlFieldInput";
$search-field-text-input: ".vivaldi-searchfield.searchfield-input";

// Combined variables
$editable-toolbars: "#{$address-bar}, #{$panel}, #{$status-bar}";
$toolbar-component-text-inputs: "#{$address-field-text-input}, #{$search-field-text-input}";