@use "../variables";

// Grid columns are determined by the following settings:
// * Tab Bar Position (Is it on the same side as the panel?)
// * Panel Position (Is it on the same side as the tab bar?)

// Pillar structure is determined by the following settings:
// * Address Bar Position
// * Panel Position (Is it on the same side as the tab bar?)
// * Address Bar Position
// * Show Bookmark Bar
// * Bookmark Bar Position

@mixin styles {
  #browser {
    // Workaround for visual artifacts on transparent Pillar sections with backdrop-filter (e.g. tab bar) below.
    // These artifacts would appear whenver you intreracted with certain UI elements or hovered over certain elements on a website.
    // Requires unsetting the backdrop-filter property on those transparent sections.
    //
    // This is likely related to this Chromium bug with the backdrop-filter property:
    // https://bugs.chromium.org/p/chromium/issues/detail?id=986206
    //
    // Some funny findings regarding this bug:
    // * Unsetting mix-blend-mode OR backdrop-filter prevents the artifacts, or at least makes them far less likely.
    // * When this #browser::before did not span the whole column, the artifacts continued appearing.
    // (last observed on Vivaldi Browser 6.2)

    &::before {
      content: "";
      grid-row: 1/-1;
      backdrop-filter: var(--backgroundBlur);
    }

    &.tabs-left::before {
      grid-column: 1 / 2;
    }

    &.tabs-right::before {
      grid-column: 3 / 4;
    }

    &:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-left .tabbar-wrapper:before,
    // original selector from browser
    &:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-right .tabbar-wrapper:before,
    // original selector from browser
    &.disable-titlebar .mainbar::before {
      backdrop-filter: unset;
    }

    // z-index fixes for grid items below

    #{variables.$select-panel} {
      z-index: 5; // sets z-index 1 higher than the value set for the address bar by the browser
    }

    #{variables.$select-address-bar},
    #{variables.$select-footer-has-status-bar} {
      &:has(:is(#{variables.$select-toolbar-component-text-inputs}):focus) {
        z-index: 6; // sets the z-index 1 higher than the value set for the panel
      }
    }

    #main .mainbar::before {
      z-index: 0;
      // without this, a blurry outline bleeds down from under the address bar into a gap left by a narrow tab bar when:
      // * "Show Title Bar" and "Transparent Tab Bar" are disabled
      // * "Accent on Window is enabled"
    }

    #main .mainbar .toolbar-hidden {
      z-index: 4; // Overrides the value -1 that the browser sets for hidden toolbars
      
      // Value -1 would cause address bar to appear with delay
      // when switching/navigating away from vivaldi://mail.
    }

    // Grid setup below

    display: grid;

    #header,
    #main,
    #main > .mainbar,
    #main > .mainbar > div,
    #main > .inner {
      display: contents;
    }

    #main .mainbar::before {
      content: " ";
    }

    grid-template-rows:
      repeat(3, min-content)
      1fr repeat(3, min-content);

    #{variables.$select-panel},
    #{variables.$select-webpage} {
      grid-row: 1 / 9999; // the value "1 / -1" did not achieve the desired effect
    }

    &:not(.disable-titlebar) {
      --vvh-grid-title-bar: 1;

      #{variables.$select-title-bar},
      #{variables.$select-title-bar-menu-position-horizontal} {
        grid-row: 1 / 2;
      }
    }

    &.address-top,
    &.address-top-off {
      --vvh-grid-address-bar-top: 1;

      #{variables.$select-address-bar},
      #main .mainbar::before {
        grid-row: calc(1 + var(--vvh-grid-title-bar, 0)) /
          calc(2 + var(--vvh-grid-title-bar, 0));
      }
    }

    &.bookmark-bar-top {
      --vvh-grid-bookmark-bar-top: 1;

      #{variables.$select-bookmark-bar} {
        grid-row: calc(
            1 + var(--vvh-grid-title-bar, 0) +
              var(--vvh-grid-address-bar-top, 0)
          ) /
          calc(
            2 + var(--vvh-grid-title-bar, 0) +
              var(--vvh-grid-address-bar-top, 0)
          );
      }
    }

    #{variables.$select-tab-bar} {
      grid-row: calc(
          1 + var(--vvh-grid-title-bar, 0) + var(--vvh-grid-address-bar-top, 0) +
            var(--vvh-grid-bookmark-bar-top, 0)
        ) /
        calc(
          -1 - var(--vvh-grid-bookmark-bar-bottom, 0) - var(
              --vvh-grid-address-bar-bottom,
              0
            ) - var(--vvh-grid-status-bar, 0)
        );
    }

    &.bookmark-bar-bottom {
      --vvh-grid-bookmark-bar-bottom: 1;

      #{variables.$select-bookmark-bar} {
        grid-row: calc(
            -2 - var(--vvh-grid-address-bar-bottom, 0) - var(--vvh-grid-status-bar, 0)
          ) /
          calc(
            -1 - var(--vvh-grid-address-bar-bottom, 0) - var(--vvh-grid-status-bar, 0)
          );
      }
    }

    &.address-bottom,
    &.address-bottom-off {
      --vvh-grid-address-bar-bottom: 1;

      #{variables.$select-address-bar},
      #main .mainbar::before {
        grid-row: calc(-2 - var(--vvh-grid-status-bar, 0)) /
          calc(-1 - var(--vvh-grid-status-bar, 0));
      }
    }

    &:has(#{variables.$select-status-bar}) {
      --vvh-grid-status-bar: 1;

      #{variables.$select-footer-has-status-bar} {
        grid-row: -2 / -1;
      }
    }

    #{variables.$select-title-bar},
    #{variables.$select-address-bar},
    #{variables.$select-bookmark-bar},
    #{variables.$select-footer-has-status-bar} {
      min-width: var(--vvh-pillar-min-width);
    }

    &.tabs-left {
      &:has(#{variables.$select-panel}.left) {
        grid-template-columns: min-content min-content 1fr;
      }

      &:has(#{variables.$select-panel}.right) {
        grid-template-columns: min-content 1fr min-content;
      }
    }

    &.tabs-right {
      &:has(#{variables.$select-panel}.left) {
        grid-template-columns: min-content 1fr min-content;
      }
      &:has(#{variables.$select-panel}.right) {
        grid-template-columns: 1fr min-content min-content;
      }
    }

    &.tabs-off {
      &:has(#{variables.$select-panel}.left) {
        grid-template-columns: min-content 1fr;
      }
      &:has(#{variables.$select-panel}.right) {
        grid-template-columns: 1fr min-content;
      }
    }

    &.tabs-left {
      --vvh-grid-pillar-left: 1;

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-tab-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: 1 / 2;
      }

      #{variables.$select-tab-bar} {
        justify-self: start;
      }
    }

    &:has(#{variables.$select-panel}.left) {
      --vvh-grid-panel-left: 1;

      #{variables.$select-panel} {
        grid-column: calc(1 + var(--vvh-grid-pillar-left, 0)) /
          calc(2 + var(--vvh-grid-pillar-left, 0));
      }
    }

    #{variables.$select-webpage} {
      grid-column: calc(
          1 + var(--vvh-grid-pillar-left, 0) + var(--vvh-grid-panel-left, 0)
        ) /
        calc(
          -1 - var(--vvh-grid-panel-right, 0) - var(--vvh-grid-pillar-right, 0)
        );
    }

    &:has(#{variables.$select-panel}.right) {
      --vvh-grid-panel-right: 1;

      #{variables.$select-panel} {
        grid-column: calc(-2 - var(--vvh-grid-pillar-right, 0)) /
          calc(-1 - var(--vvh-grid-pillar-right, 0));
      }
    }

    &.tabs-right {
      --vvh-grid-pillar-right: 1;

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-tab-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: -2 / -1;
      }

      #{variables.$select-tab-bar} {
        justify-self: end;
      }
    }

    &.tabs-off {
      &:has(#{variables.$select-panel}.left) {
        --vvh-grid-pillar-left: 1;
        --vvh-grid-panel-left: 0;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-panel},
        #{variables.$select-footer-has-status-bar} {
          grid-column: 1 / 2;
        }

        #{variables.$select-panel} {
          justify-self: start;
        }
      }

      &:has(#{variables.$select-panel}.right) {
        --vvh-grid-pillar-right: 1;
        --vvh-grid-panel-right: 0;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-panel},
        #{variables.$select-footer-has-status-bar} {
          grid-column: -2 / -1;
        }

        #{variables.$select-panel} {
          justify-self: end;
        }
      }

      #{variables.$select-panel} {
        grid-row: calc(
            1 + var(--vvh-grid-title-bar, 0) +
              var(--vvh-grid-address-bar-top, 0) +
              var(--vvh-grid-bookmark-bar-top, 0)
          ) /
          calc(
            -1 - var(--vvh-grid-bookmark-bar-bottom, 0) - var(
                --vvh-grid-address-bar-bottom,
                0
              ) - var(--vvh-grid-status-bar, 0)
          );
      }
    }
  }
}

@mixin panel-in-pillar {
  #browser {
    &:is(.tabs-left, .tabs-right) #{variables.$select-panel} {
      border-top: none !important; // overrides the border set in the title-bar-full-width mixin
    }

    &.tabs-left:has(#{variables.$select-panel}.left),
    &.tabs-right:has(#{variables.$select-panel}.right) {
      // disable backdrop-filter on the panel as part of the backdrop-filter workaround above
      #switch {
        backdrop-filter: unset;
      }
    }

    // Grid setup changes below

    &.tabs-left:has(#{variables.$select-panel}.left),
    &.tabs-right:has(#{variables.$select-panel}.right) {
      #{variables.$select-panel} {
        grid-row: calc(
            1 + var(--vvh-grid-title-bar, 0) + var(--vvh-grid-address-bar-top, 0) +
              var(--vvh-grid-bookmark-bar-top, 0)
          ) /
          calc(
            -1 - var(--vvh-grid-bookmark-bar-bottom, 0) - var(
                --vvh-grid-address-bar-bottom,
                0
              ) - var(--vvh-grid-status-bar, 0)
          ) !important; // overrides grid-row-start set in title-bar-full-width mixin
      }
    }

    &.tabs-left:has(#{variables.$select-panel}.left) {
      // part of the backdrop-filter workaround above
      &::before {
        grid-column: 1 / 3;
      }

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: 1 / 3;
      }

      #{variables.$select-panel} {
        grid-column: 1 / 2;
      }

      #{variables.$select-tab-bar} {
        grid-column: 2 / 3;
      }
    }

    &.tabs-right:has(#{variables.$select-panel}.right) {
      // part of the backdrop-filter workaround above
      &::before {
        grid-column: 2 / 4;
      }

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: -3 / -1;
      }

      #{variables.$select-panel} {
        grid-column: -2 / -1;
      }

      #{variables.$select-tab-bar} {
        grid-column: -3 / -2;
      }
    }
  }
}

@mixin title-bar-full-width {
  #browser:not(.disable-titlebar) {
    #{variables.$select-title-bar} {
      border-left: none;
      border-right: none;
    }

    &:is(.tabs-left, .tabs-right) #{variables.$select-panel},
    #{variables.$select-webpage} {
      border-top: 1px solid var(--colorBorder);
    }

    &:is(.tabs-left, .tabs-right) {
      #{variables.$select-panel} {
        grid-row-start: 2;
      }
    }

    #{variables.$select-webpage} {
      grid-row-start: 2;
    }

    #{variables.$select-title-bar},
    #{variables.$select-title-bar-menu-position-horizontal} {
      grid-column: 1 / -1 !important; // overrides grid-column set in panel-in-pillar mixin
    }

    #{variables.$select-title-bar-menu-position-horizontal} {
      .horizontal-menu-pagetitle {
        // revert properties applied in _title-bar.scss
        width: unset;
        flex: unset;
      }
    }
  }
}
