@use "../variables";

// Grid columns are determined by the following settings:
// * Tab Bar Position (Is it on the same side as the panel?)
// * Panel Position (Is it on the same side as the tab bar?)

// Pillar structure is determined by the following settings:
// * Address Bar Position
// * Panel Position (Is it on the same side as the tab bar?)
// * Address Bar Position
// * Show Bookmark Bar
// * Bookmark Bar Position

@mixin styles {
  #browser {
    // Workaround for visual artifacts on transparent Pillar sections with backdrop-filter (e.g. tab bar) below.
    // These artifacts would appear whenver you intreracted with certain UI elements or hovered over certain elements on a website.
    // Requires unsetting the backdrop-filter property on those transparent sections.
    //
    // This is likely related to this Chromium bug with the backdrop-filter property:
    // https://bugs.chromium.org/p/chromium/issues/detail?id=986206
    //
    // Some funny findings regarding this bug:
    // * Unsetting mix-blend-mode OR backdrop-filter prevents the artifacts, or at least makes them far less likely.
    // * When this #browser::before did not span the whole column, the artifacts continued appearing.
    // (last observed on Vivaldi Browser 6.2)
    
    &::before {
      content: "";
      grid-row: 1/-1;
      backdrop-filter: var(--backgroundBlur);
    }

    &.tabs-left::before {
      grid-column: 1 / 2;
    }

    &.tabs-right::before {
      grid-column: 3 / 4;
    }

    &:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-left .tabbar-wrapper:before, // original selector from browser
    &:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-right .tabbar-wrapper:before, // original selector from browser
    &.disable-titlebar .mainbar::before {
      backdrop-filter: unset;
    }

    // tab bar styles for horizontal menu below

    &:has(#{variables.$select-title-bar-menu-position-horizontal}) {
      #{variables.$select-tab-bar} {
        #tabs-tabbar-container {
          width: 100% !important; 
          // normally the tab bar can't be resized to be as wide as the horizontal menu,
          // this closes any gaps caused by this

          > .SlideBar {
            cursor: not-allowed;
            // indicate that the tab bar can't be resized in this state,
            // since it normally can't be this wide in the first place

            &:hover {
              &::before {
                content: "The tab bar cannot be resized while \"Menu Position\" is set to \"Horizontal\".";
                text-align: start;
                width: 217px; // chosen to achieve desired text wrapping
                color: var(--colorFg);
                background: var(--colorBg);
                padding: 8px;
                border: 1px solid var(--colorBorder);
                border-radius: var(--radius);
                box-shadow: 0 0 8px 2px var(--colorBorder);
                margin: 8px;
                position: absolute;
                top: 0;
                cursor: auto;
  
                @include variables.mixin-fade-in-on-hover;
              }
            }
          }
        }
      }
    }
    
    // z-index fix below

    #{variables.$select-panel} {
      z-index: 5; // sets z-index 1 higher than the value set for the address bar by the browser
    }

    #{variables.$select-address-bar},
    #{variables.$select-footer-has-status-bar} {
      &:has(:is(#{variables.$select-toolbar-component-text-inputs}):focus) {
        z-index: 6; // sets the z-index 1 higher than the value set for the panel
      }
    }

    // Borders below

    &.native {
      border-top: 1px solid var(--colorBorder);
    }
    
    #{variables.$select-address-bar},
    #{variables.$select-bookmark-bar},
    #{variables.$select-footer-has-status-bar} {
      border: none;
    }

    &.tabs-left {
      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        border-right: 1px solid var(--colorBorder);
      }
    }

    &.tabs-right {
      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        border-left: 1px solid var(--colorBorder);
      }
    }

    &.address-bottom.bookmark-bar-top #{variables.$select-title-bar},
    &.address-top #{variables.$select-address-bar},
    &.bookmark-bar-top #{variables.$select-bookmark-bar} {
      border-bottom: 1px solid var(--colorBorder);
    }

    &.address-bottom #{variables.$select-address-bar},
    &.bookmark-bar-bottom #{variables.$select-bookmark-bar},
    #{variables.$select-footer-has-status-bar} {
      border-top: 1px solid var(--colorBorder);
    }

    // Grid setup below

    display: grid;

    #header,
    #main,
    #main > .mainbar,
    #main > .inner {
      display: contents;
    }

    #main .mainbar::before {
      content: " ";
    }

    #{variables.$select-panel},
    #{variables.$select-webpage} {
      grid-row: 1 / -1;
    }

    &.tabs-left {
      &:has(#{variables.$select-panel}.left) {
        grid-template-columns: min-content min-content 1fr;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-footer-has-status-bar} {
          grid-column: 1 / 2;
        }

        #{variables.$select-panel} {
          grid-column: 2 / 3;
        }

        #{variables.$select-tab-bar} {
          grid-column: 1 / 2;
        }

        #{variables.$select-webpage} {
          grid-column: 3 / 4;
        }
      }

      &:has(#{variables.$select-panel}.right) {
        grid-template-columns: min-content 1fr min-content;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-footer-has-status-bar} {
          grid-column: 1 / 2;
        }

        #{variables.$select-panel} {
          grid-column: 3 / 4;
        }

        #{variables.$select-tab-bar} {
          grid-column: 1 / 2;
        }

        #{variables.$select-webpage} {
          grid-column: 2 / 3;
        }
      }
    }

    &.tabs-right {
      &:has(#{variables.$select-panel}.left) {
        grid-template-columns: min-content 1fr min-content;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-footer-has-status-bar} {
          grid-column: 3 / 4;
        }

        #{variables.$select-panel} {
          grid-column: 1 / 2;
        }

        #{variables.$select-tab-bar} {
          grid-column: 3 / 4;
        }

        #{variables.$select-webpage} {
          grid-column: 2 / 3;
        }
      }

      &:has(#{variables.$select-panel}.right) {
        grid-template-columns: 1fr min-content min-content;

        #{variables.$select-title-bar},
        #{variables.$select-address-bar},
        #main .mainbar::before,
        #{variables.$select-title-bar-menu-position-horizontal},
        #{variables.$select-bookmark-bar},
        #{variables.$select-footer-has-status-bar} {
          grid-column: 3 / 4;
        }

        #{variables.$select-panel} {
          grid-column: 2 / 3;
        }

        #{variables.$select-tab-bar} {
          grid-column: 3 / 4;
        }

        #{variables.$select-webpage} {
          grid-column: 1 / 2;
        }
      }
    }

    #{variables.$select-title-bar},
    #{variables.$select-title-bar-menu-position-horizontal} {
      grid-row: 1 / 2;
    }

    footer {
      grid-row: -2 / -1;
    }

    &.disable-titlebar {
      &.address-top {
        &.bookmark-bar-top {
          grid-template-rows: min-content min-content 1fr;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 1 / 2;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-tab-bar} {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content min-content 1fr min-content;
          }
        }

        &.bookmark-bar-bottom {
          grid-template-rows: min-content 1fr min-content;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 1 / 2;
          }

          #{variables.$select-tab-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content 1fr min-content min-content;
          }
        }

        &.bookmark-bar-top-off,
        &.bookmark-bar-bottom-off {
          grid-template-rows: min-content 1fr;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 1 / 2;
          }

          #{variables.$select-tab-bar} {
            grid-row: 2 / 3;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content 1fr min-content;
          }
        }
      }

      &.address-bottom {
        &.bookmark-bar-top {
          grid-template-rows: min-content 1fr min-content;

          #{variables.$select-bookmark-bar} {
            grid-row: 1 / 2;
          }

          #{variables.$select-tab-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content 1fr min-content min-content;
          }
        }

        &.bookmark-bar-bottom {
          grid-template-rows: 1fr min-content min-content;

          #{variables.$select-tab-bar} {
            grid-row: 1 / 2;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: 1fr min-content min-content min-content;
          }
        }

        &.bookmark-bar-top-off,
        &.bookmark-bar-bottom-off {
          grid-template-rows: 1fr min-content;

          #{variables.$select-tab-bar} {
            grid-row: 1 / 2;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 2 / 3;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: 1fr min-content min-content;
          }
        }
      }
    }

    &:not(.disable-titlebar) {
      &.address-top {
        &.bookmark-bar-top {
          grid-template-rows: min-content min-content min-content 1fr;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 2 / 3;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 3 / 4;
          }

          #{variables.$select-tab-bar} {
            grid-row: 4 / 5;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content min-content min-content 1fr min-content;
          }
        }

        &.bookmark-bar-bottom {
          grid-template-rows: min-content min-content 1fr min-content;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 2 / 3;
          }

          #{variables.$select-tab-bar} {
            grid-row: 3 / 4;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 4 / 5;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content min-content 1fr min-content min-content;
          }
        }

        &.bookmark-bar-top-off,
        &.bookmark-bar-bottom-off {
          grid-template-rows: min-content min-content 1fr;

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 2 / 3;
          }

          #{variables.$select-tab-bar} {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content min-content 1fr min-content;
          }
        }
      }

      &.address-bottom {
        &.bookmark-bar-top {
          grid-template-rows: min-content min-content 1fr min-content;

          #{variables.$select-bookmark-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-tab-bar} {
            grid-row: 3 / 4;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 4 / 5;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content min-content 1fr min-content min-content;
          }
        }

        &.bookmark-bar-bottom {
          grid-template-rows: min-content 1fr min-content min-content;

          #{variables.$select-tab-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-bookmark-bar} {
            grid-row: 3 / 4;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 4 / 5;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content 1fr min-content min-content min-content;
          }
        }

        &.bookmark-bar-top-off,
        &.bookmark-bar-bottom-off {
          grid-template-rows: min-content 1fr min-content;

          #{variables.$select-tab-bar} {
            grid-row: 2 / 3;
          }

          #{variables.$select-address-bar},
          #main .mainbar::before {
            grid-row: 3 / 4;
          }

          &:has(#{variables.$select-status-bar}) {
            grid-template-rows: min-content 1fr min-content min-content;
          }
        }
      }
    }
  }
}

@mixin panel-within-pillar {
  #browser {
    &.tabs-left:has(#{variables.$select-panel}.left) {
      // part of the backdrop-filter workaround above
      &::before {
        grid-column: 1 / 3;
      }

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: 1 / 3;
      }

      #{variables.$select-panel} {
        grid-column: 1 / 2;
      }

      #{variables.$select-tab-bar} {
        grid-column: 2 / 3;
      }
    }

    &.tabs-right:has(#{variables.$select-panel}.right) {
      // part of the backdrop-filter workaround above 
      &::before {
        grid-column: 2 / 4;
      }

      #{variables.$select-title-bar},
      #{variables.$select-address-bar},
      #main .mainbar::before,
      #{variables.$select-title-bar-menu-position-horizontal},
      #{variables.$select-bookmark-bar},
      #{variables.$select-footer-has-status-bar} {
        grid-column: 2 / 4;
      }

      #{variables.$select-panel} {
        grid-column: 3 / 4;
      }

      #{variables.$select-tab-bar} {
        grid-column: 2 / 3;
      }
    }

    
    &.tabs-left:has(#{variables.$select-panel}.left),
    &.tabs-right:has(#{variables.$select-panel}.right) {
      // disable backdrop-filter on the panel as part of the backdrop-filter workaround above
      #switch {
        backdrop-filter: unset;
      }

      &.disable-titlebar {
        &.address-top {
          &.bookmark-bar-top {
            #{variables.$select-panel} {
              grid-row: 3 / 4;
            }
          }
  
          &.bookmark-bar-bottom {
            #{variables.$select-panel} {
              grid-row: 2 / 3;
            }
          }
  
          &.bookmark-bar-top-off,
          &.bookmark-bar-bottom-off {
            #{variables.$select-panel} {
              grid-row: 2 / 3;
            }
          }
        }
  
        &.address-bottom {
          &.bookmark-bar-top {
            #{variables.$select-panel} {
              grid-row: 2 / 3;
            }
          }
  
          &.bookmark-bar-bottom {
            #{variables.$select-panel} {
              grid-row: 1 / 2;
            }
          }
  
          &.bookmark-bar-top-off,
          &.bookmark-bar-bottom-off {
            #{variables.$select-panel} {
              grid-row: 1 / 2;
            }
          }
        }
      }
  
      &:not(.disable-titlebar) {
        &.address-top {
          &.bookmark-bar-top {
            #{variables.$select-panel} {
              grid-row: 4 / 5;
            }
          }
  
          &.bookmark-bar-bottom {
            #{variables.$select-panel} {
              grid-row: 3 / 4;
            }
          }
  
          &.bookmark-bar-top-off,
          &.bookmark-bar-bottom-off {
            #{variables.$select-panel} {
              grid-row: 3 / 4;
            }
          }
        }
  
        &.address-bottom {
          &.bookmark-bar-top {
            #{variables.$select-panel} {
              grid-row: 3 / 4;
            }
          }
  
          &.bookmark-bar-bottom {
            #{variables.$select-panel} {
              grid-row: 2 / 3;
            }
          }
  
          &.bookmark-bar-top-off,
          &.bookmark-bar-bottom-off {
            #{variables.$select-panel} {
              grid-row: 2 / 3;
            }
          }
        }
      }
    }
  }
}
