@use "../variables";

@mixin styles {
  #{variables.$select-title-bar-menu-position-horizontal} {
    align-items: center;

    > * {
      // override inline styling for proper centering along the flex axis
      margin-top: 0 !important; 
      margin-bottom: 0 !important; 
    }

    .horizontal-menu-pagetitle {
      width: 0;
      flex: 1;
    }
  }

  #{variables.$select-title-bar} {
    display: flex;
    position: relative;
    min-height: variables.$value-of-title-bar-min-height;
    background-color: var(--colorBg);
    -webkit-app-region: drag;
  }

  :has(#browser.color-behind-tabs-off:not(.is-settingspage))
    #{variables.$select-title-bar} {
    background-color: var(--colorAccentBg);
  }
}
